/*
div {
	border: 1px solid red;
}
*/

html, body {
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
}

.container {
	height: 100%;
	width: 960px;
	margin: 0 auto;
	box-sizing: content-box;
	padding: 40px;
/*	background-color: rgba(216, 216, 216, 0.8);*/
	background: radial-gradient(ellipse at center, rgba(211,211,211,1) 0%,rgba(214,214,214,1) 12%,rgba(217,217,217,1) 23%,rgba(217,217,217,1) 23%,rgba(210,210,210,1) 33%,rgba(210,210,210,1) 33%,rgba(203,203,203,1) 45%,rgba(192,192,192,1) 60%, rgba(203,203,203,1) 84%, rgba(199,199,199,1) 92%,rgba(196,196,196,1) 100%);
}

ul, li, a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	cursor: pointer;
}

button, input  {
	cursor: pointer;
}

ul, menu, dir {
	-webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.clear {
	clear: both;
	content: " ";
	display: hidden;
}

/* --------------------------- */
/*   NAVBAR CONTAINER    */
/* --------------------------- */

.navbar {
	height: 40px;
	text-align: center;
}

.navbar h1 {
	font-size: 1.75em;
	line-height: 1.5em;
	font-variant: small-caps
}

/* --------------------------- */
/*    HEADER CONTAINER    */
/* --------------------------- */

.header {
	display: block;
	height: 480px;
/*	background-color: #3f514b;*/
}

/* --------------------------- */
/*     COLOR SELECTED    */
/* --------------------------- */

.color-selected {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	height: 22.5rem;
	width: 35%;
	margin: 0;
	padding: 2.75rem 1rem;
/*	background-color: azure;*/
}

.color-selected ul {
	transform: rotate(-90deg);
	width: 18.75rem;
}

.color-selected ul > li {
	height: 3.375rem;
	font-size: 1.35rem;
	text-align: center;
	letter-spacing: .06rem;
	line-height: 2.5rem;
	text-transform: capitalize;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.color-selected li:last-child {
	border-bottom: 1px solid #000;
}

.color-selected li:hover {
	background-color: aqua;
}

.color-selected li span {
	text-transform: uppercase;
	font-size: .8rem;
	display: block;
	height: 30%;
	color: #f07710;
	line-height: .5em;
}

/* --------------------------- */
/*     COLOR SELECTED    */
/* --------------------------- */

.color-choices {
	display: inline-block;
	box-sizing: border-box;
	height: 360px;
	width: 65%;
/*	background-color: beige;*/
}

.color-choices ul {
	padding-top: 1.75rem;
}

.color-choices li {
	display: inline-block;
	height: 5.25rem;
	width: 4.5rem;
	margin: .5rem 0 .5rem .66rem;
	border: 1px solid #000;
	border-radius: 4px;
	line-height: 5.25rem;
	text-align: center;
}

.color-choices li:hover {
	background-color: blueviolet;
}

/* --------------------------- */
/*     INPUT CONTAINER        */
/* --------------------------- */

.input-container {
	width: inherit;
	height: 100px;
}

/* --------------------------- */
/*     TYPOGRAPHY INPUT      */
/* --------------------------- */

.typography-input {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: 35%;
	height: 100px;
	padding-left: 1.5rem;
}

.typography-input h2 {
	padding-top: 12px;
	line-height: 2rem;
	color: #f07710;
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.typography-input select {
	padding: 7px;
	width: 260px;
	background-color: transparent;
	font-size: .9rem;
	color: #f07710;
	border: 1px solid #f07710;
}

.typography button:hover {
	background-color: #50b937;
}

/* --------------------------- */
/*     API INPUT      */
/* --------------------------- */

.api {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	width: 65%;
	height: 100px;
/*	background-color: #2a1815;*/
}

.api-input h2 {
	padding-top: 12px;
	line-height: 2rem;
	color: #f07710;
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.api-input > input {
	width: 300px;
	height: 28px;
	border: 1px solid #f07710;
}

.api-input button {
	padding: 8px;
	margin-left: 1rem;
	width: 100px;
	background-color: transparent;
	color: #f07710;
	font-size: .9rem;
	border: 1px solid #f07710;
}

.api-input .button-reset {
	border-color: #f40c0c;
	color: #f40c0c;
}

/* --------------------------- */
/*    MAIN SECTION      */
/* --------------------------- */

.main {
	height: 800px;
	width: inherit;
/*	background-color: azure;*/
	margin: 0 auto;
}

/*
.main::before {
	content: "";
	display: block;
	height: 1px;
	border-bottom: 1px solid #69a325;
}
*/

/* --------------------------- */
/*    PRESENTATION SECTION      */
/* --------------------------- */

.presentation-style {
	height: 800px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: 50%;
	padding: 8px;
}

.presentation-style > h2 {
	height: auto;
	width: 97.5%;
	font-size: 1.25rem;
	border-bottom: 1px solid #000;
	margin-bottom: 18px;
	font-variant: small-caps;
}

/* --------------------------- */
/* PRESENTATION - HEADER SECTION */
/* --------------------------- */

.header-style {
	display: block;
	width: 100%;
	height: 65px;
	margin-bottom: 1rem;
}

.header-style input {
	box-sizing: border-box;
	display: inline-block;
	width: 16.25%;
	height: 65px;
	text-align: center;
	font-size: 3rem;
	border: 1px solid #000;
}

.header-style h1 {
	display: inline-block;
	box-sizing: border-box;
	width: 80%;
	padding-left: 1rem;
	font-size: 3rem;
}

/* --------------------------- */
/* PRESENTATION - SUBHEADER SECTION */
/* --------------------------- */

.subheader-style {
	display: block;
	width: 100%;
	height: 65px;
	margin-bottom: 1rem;
}

.subheader-style input {
	box-sizing: border-box;
	display: inline-block;
	width: 16.25%;
	height: 65px;
	text-align: center;
	font-size: 2.25rem;
	border: 1px solid #000;
}

.subheader-style h2 {
	display: inline-block;
	box-sizing: border-box;
	width: 80%;
	padding-left: 1rem;
	font-size: 2.25rem;
}

/* --------------------------- */
/* PRESENTATION - PARAGRAPH SECTION */
/* --------------------------- */

.paragraph-style {
	display: block;
	width: 100%;
	height: 190px;
	margin-bottom: 1rem;
}

.paragraph-style input {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	transform: translateY(100%);
	width: 16.25%;
	height: 65px;
	text-align: center;
	font-size: 1.25rem;
	border: 1px solid #000;
}

.paragraph-style p {
	display: inline-block;
	width: 80%;
	padding-left: 1rem;
	font-size: 1.25rem;
}

.paragraph-style p span {
	font-variant: small-caps;
	font-weight: 700;
}

/* --------------------------- */
/* PRESENTATION - BUTTON SECTION */
/* --------------------------- */

.button-style {
	display: block;
	padding-bottom: 18px;
	width: 100%;
}

.button-style h3 {
	box-sizing: border-box;
	display: inline-block;
	width: 16.25%;
	text-align: center;
	font-size: 1.25rem;
	margin-right: .5rem;
/*	font-variant: small-caps;*/
}

.button-style h3:nth-of-type(2),
.button-style h3:nth-of-type(4) {
	margin-left: .5rem;
}

.default {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 12px;
	border: 1px solid #f07710;
	background-color: transparent;
	padding: 6px 0px;
	width: 30%;
	font-size: .9rem;
	text-transform: uppercase;
}

/* --------------------------- */
/* PRESENTATION - LINKS SECTION */
/* --------------------------- */

.links-style {
	display: block;
	width: 100%;
}

.links-style h3 {
	box-sizing: border-box;
	display: block;
	width: 100%;
	text-align: left;
	margin-bottom: 8px;
	font-size: 1.25rem;
/*	font-variant: small-caps;*/
}

.links-style a {
	margin-left: 1rem;
}


/* --------------------------- */
/* MOCKUP VIEW - SECTION */
/* --------------------------- */

.mockup-view {
	height: 800px;
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	padding: 8px;
/*	border: 1px solid red;*/
}

.mockup-view > h2 {
	height: 30px;
	width: auto;
	margin: 1rem auto;
	font-size: 1.75rem;
	margin-bottom: 18px;
	text-align: center;
	font-variant: small-caps;
}

/* --------------------------- */
/* MOCKUP CONTAINER - SECTION */
/* --------------------------- */

.mockup-container {
	width: 100%;
	height: 550px;
/*	border: 1px solid red;*/
}

.mockup-display {
	position: relative;
/*	get approx. ratio for font-to-mockup scaling (960px / 2) = 480px | (300px / 480px) = .625 */
/*	60px subtracted for left and right padding */
	width: 360px;
	height: 520px;
	background: url(../css/img/iphone-base.png) top no-repeat;
	margin: 2.5rem auto;
	background-size: contain;
/*	border: 1px solid red;*/
}

/* --------------------------- */
/* MOCKUP CONTAINER - FA FA-ICON STYLES */
/* --------------------------- */

.fa-chevron-left {
	position: absolute;
	top: 40%;
	left: -36px;
	color: #f07710;
}

.fa-chevron-right {
	position: absolute;
	top: 40%;
	left: 352px;
	color: #f07710;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
	color: #f40c0c;
}

/* --------------------------- */
/* MOCKUP CONTAINER - DESIGN STYLES */
/* --------------------------- */


.mockup-background-color {
	position: absolute;
	top: 85px;
	left: 80px;
	height: 350px;
	width: 200px;
}

.mockup-header-h1 {
	position: absolute;
	background-color: transparent;
	color: #fff;
	width: 180px;
/*	(3rem * .625) = 1.875rem */
	text-align: center;
	border: none;
	height: 3rem; 
	font-size: 1.875rem;
	top: 120px;
	left: 90px;
}

.mockup-subheader {
	position: absolute;
	background-color: transparent;
	color: #fff;
	width: 140px;
/*	(2.25rem * .625) = 1.40625rem  */
	text-align: center;
	border: none;
	height: 2.25rem; 
	font-size: 1.40625rem;
	top: 170px;
	left: 110px;
}

.mockup-paragraph {
	position: absolute;
	background-color: transparent;
	color: #fff;
	width: 160px;
/*	(1.25rem * .625) = .78125rem  */
	text-align: justify;
	border: none;
	height: auto; 
	font-size: .78125rem;
	top: 220px;
	left: 100px;
}

.mockup-button {
	position: absolute;
	background-color: transparent;
	text-transform: uppercase;
	font-size: .5625rem;
	color: #fff;
	width: 160px;
/*	(.9rem * .625) = .5625rem  */
	padding: 6px 0px;
	border: 1px solid #fff;
	height: auto; 
	top: 360px;
	left: 100px;
}

.mockup-link {
	position: absolute;
	text-transform: capitalize;
	font-size: .5625rem;
	color: #fff;
	width: 160px;
/*	(.9rem * .625) = .5625rem  */
	padding: 6px 0px;
	height: auto; 
	margin-top: 8px;
	text-align: center;
	top: 380px;
	left: 100px;
}

/* --------------------------- */
/* MOCKUP BACKGROUND-COLOR STYLES */
/* --------------------------- */

.background-color-selector {
	background: linear-gradient(rgba(39, 39, 39, 0.74), rgba(78, 44, 44, 0.3));
}

.background-color {
	height: 60px;
	margin: 8px;
	border: 1px solid #000;
}

.background-color:hover {
	background-color: red;
}

.background-color h2 {
	text-align: center;
	line-height: 3.75rem;
	font-size: 1.25rem;
	text-transform: uppercase;
}












