/*
div {
	border: 1px solid red;
}
*/

html, body, section {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.container {
	height: 100%;
}

.main {
	height: 800px;
}

ul, li {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

ul, menu, dir {
	-webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.clear {
	clear: both;
	content: " ";
	display: hidden;
}

/* --------------------------- */
/*   NAVBAR CONTAINER    */
/* --------------------------- */

.navbar {
	height: 80px;
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.navbar h1 {
	font-size: 3em;
	line-height: 1.5em;
	text-transform: capitalize;
}

/* --------------------------- */
/*    HEADER CONTAINER    */
/* --------------------------- */

.header {
	display: block;
	height: 460px;
	width: 960px;
	margin: 0 auto;
	background-color: #3f514b;
}


/* --------------------------- */
/*     COLOR SELECTED    */
/* --------------------------- */

.color-selected {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	height: 22.5rem;
	width: 35%;
	margin: 0;
	padding: 2.75rem 1rem;
	background-color: azure;
}

.color-selected ul {
	transform: rotate(-90deg);
	width: 18.75rem;
}

.color-selected ul > li {
	height: 3.375rem;
	font-size: 1.35rem;
	text-align: center;
	letter-spacing: .06rem;
	line-height: 2.5rem;
	text-transform: capitalize;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.color-selected li:last-child {
	border-bottom: 1px solid #000;
}

.color-selected li:hover {
	background-color: aqua;
}

.color-selected li span {
	text-transform: uppercase;
	font-size: .8rem;
	display: block;
	height: 30%;
	color: #f07710;
	line-height: .5em;
}

/* --------------------------- */
/*     COLOR SELECTED    */
/* --------------------------- */

.color-choices {
	display: inline-block;
	box-sizing: border-box;
	height: 360px;
	width: 65%;
	background-color: beige;
}

.color-choices ul {
	padding-top: 1.75rem;
}

.color-choices li {
	display: inline-block;
	height: 5.25rem;
	width: 4.5rem;
	margin: .5rem 0 .5rem .66rem;
	border: 1px solid #000;
	border-radius: 4px;
	line-height: 5.25rem;
	text-align: center;
}

.color-choices li:hover {
	background-color: blueviolet;
}

/* --------------------------- */
/*     INPUT CONTAINER        */
/* --------------------------- */

.input-container {
	width: inherit;
	height: 100px;
}

/* --------------------------- */
/*     TYPOGRAPHY INPUT      */
/* --------------------------- */

.typography-input {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: 35%;
	height: 80px;
	padding-left: 1.5rem;
}

.typography-input h2 {
	padding-top: 12px;
	line-height: 2rem;
	color: #f07710;
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.typography-input select {
	padding: 7px;
	width: 260px;
	background-color: transparent;
	font-size: .9rem;
	color: #f07710;
	border: 1px solid #000;
}

.typography button:hover {
	background-color: #50b937;
}

/* --------------------------- */
/*     API INPUT      */
/* --------------------------- */

.api {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	padding-left: 1.5rem;
	width: 65%;
	height: 100px;
	background-color: #2a1815;
}

.api-input h2 {
	padding-top: 12px;
	line-height: 2rem;
	color: #f07710;
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.api-input > input {
	width: 300px;
	height: 28px;
}

.api-input button {
	padding: 8px;
	margin-left: 1rem;
	width: 100px;
	background-color: transparent;
	color: #f07710;
	font-size: .9rem;
	border: 1px solid #000;
}

.api-input .button-reset {
	border-color: #f40c0c;
}











